@import './main.scss';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ecf3f6;
}


.lkfooter {
  margin-top: auto;
}

.header__links {
  margin-left: 30px;

  li a {
    text-transform: uppercase;
    color: #202020;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;

    &:hover {
      color: #0db1f4;
    }
  }
}

.header__left {
  width: initial;
}

.header .contact__call a {
  border: none;
}

.header .contact .contact__content.active {
  border: none;
  box-shadow: 0px 3px 8px -5px #747474;
}

.contact__menu {
  ul {
    margin-top: 15px;
  }

  li {
    margin-top: 10px;
    line-height: 1.2;

    a {
      color: #7e7e7e;
      font-size: 15px;
      font-weight: 700;
      line-height: 1.2;

      &:hover {
        color: #0db1f4;
      }
    }
  }
}

.page {
  margin-top: 10px;
  padding: 0;
}

.wrapper {
  padding: 22px 28px;
}

.header__right {
  transform: translateX(10px);
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
}

.page {
  .modal__form {
    max-width: 288px;
  }

  .modal__form .form-group .btn {
    margin-top: 10px;
  }
}

.footerinfo {
  padding: 0;
}

.footerinfo__link a {
  font-size: 16px;
}

.footerinfo__link a {
  color: #999;
}

.lkheader {
  background: #dee5e8;
  padding: 5px 0 8px 0;
  margin-bottom: 24px;
}

.lkheader__title {
  font-size: 24px;

  a {
    text-transform: uppercase;
    text-decoration: underline !important;
    color: #0099ff;
    font-weight: 900;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.lkinfo {
  margin-right: 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1;
}

.lkinfo__title {
  font-weight: 700;
}

.lkinfo__value {
  font-weight: 900;
  padding-left: 10px;
  text-transform: uppercase;
}

.lkheader__left {
  max-width: 800px;
  margin-right: 20px;
}

.lkheader__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lkheader__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lkheader__info>div {
  margin-right: 30px;
}

.lkheader__title {
  font-weight: 700;
}

.customselect select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  line-height: 1;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
  padding: 10px 25px 8px 10px;
  background-image: url(../img/angle_down.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 7px;
  display: block;
}

.customselect select option {
  font-size: 15px;
  padding: 5px;
}




.manager {
  width: 205px;
}

.manager__wrapper {
  border-radius: 6px;
  border: 1px solid #c4cacd;
  padding: 5px 7px;
  display: flex;
  align-items: center;
}

.manager__photo {
  margin-right: 10px;
}

.manager__img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.manager__info {
  font-size: 13px;
  line-height: 1;
}

.manager__title {
  font-weight: 700;
  line-height: 1.2;
}

.manager__name {
  font-weight: 700;
  line-height: 1.2;
}

.lkheader_bottom {
  margin: 0;
}

.lktable {
  display: table;
  width: 100%;
}

.lktable>* {
  display: table-row;
}

.lktable__col {
  display: table-cell;
  max-width: 290px;
  padding: 12px;
}

.wrapper_nopad {
  padding: 0;
}

.lktable__header {
  font-size: 16px;
  line-height: 1.1;
  font-weight: 700;
}

.lktable__body {
  font-weight: 700;
  line-height: 1.2;
}

.status {

  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
}

.status:before {
  content: "";
  background: #7e7e7e;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}

.status_process:before {
  background: #2ce565;
}

.status_completed:before {
  background: #0db1f4;
}

.status_postponed:before {
  background: #eed110;
}

.lktable__text_center {
  text-align: center;
}

.lktable__text {
  font-weight: 700;

  a {
    color: #0db1f4;

    &:hover {
      color: #000;
    }
  }
}

.lktable__col {
  border-bottom: 1px solid #dee5e8;

}

.lktable__header .lktable__col {
  border-bottom: 5px solid #ecf3f6;

}

.lktable__row:last-child .lktable__col {
  border-bottom: none;
}

.lktable__text_completed a {
  color: #a1a6a8;
  text-decoration: line-through;
}

.lktable {
  padding-bottom: 20px;
}

.btn--medium {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
}

.lktable__header {
  margin-bottom: 7px;
}

.lkinfo_small {
  font-size: 13px;
}

.lkheader__info+.lkheader__info {
  margin-top: 5px;
}

.lkheader__subtitle {
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
}

a.link_manager {
  display: block;
}

.modmanager {
  padding-top: 10px;
}

.manager__info {
  color: #202020;
  font-weight: 700;
}

.manager__link {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.2;
  color: #0db1f4;
}

.modal-title_small {
  font-size: 30px;

}

.modmanager .contact__phone {
  margin: 15px 0;
}

.modmanager .contact__socials {
  max-width: 154px;
  margin-bottom: 20px;
}

.modmanager .contact__button {
  max-width: 154px;
}

.modmanager .contact__phone a {
  border-bottom: 1px dotted #202020;
  color: #202020;
  font-size: 22px;
  line-height: .6;
  text-decoration: none;
  white-space: nowrap;
}

.modmanager__name {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
}

.modmanager .contact__text {
  color: #999;
}

.modmanager {
  display: flex;
}

@media (max-width: 767px) {
  .header__links {
    display: none;
  }

  .header__logo {
    margin-left: 0;
  }

  .header {
    background: none;
  }

  .header__right {
    transform: none;
  }

  .contact__menu li a {
    font-size: 12px;
    line-height: 1.2;
  }

  .contact__menu li {
    margin-top: 5px;
  }

  .page {
    margin-top: 0;
  }

  h1 {
    font-size: 30px;
  }

  .wrapper {
    padding: 10px;
  }

  .page .modal__form .form-group .btn {
    margin: 0;
  }

  .page .modal__form {
    max-width: 100%;
  }
}